html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #2f2d13;
  font-family: Georgia, serif;
}

header {
  background-color: #ffe500;
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  padding: 3;
}

.nav {
  margin: 0;
  padding-top: .75em;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  border-radius: 8px;
  margin: 0 0 .55em;
  font-size: 1.1em;
}

.nav a {
  display: inline-block;
  background-color: #b2a212;
  padding: .2em .5em .3em;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

.nav a:hover {
  display: inline-block;
  background-color: #cc1465;
}

.nav .current {
  background-color: #b20953;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
}

footer {
  text-align: center;
  padding: 0 .75em;
  background-color: #ffe500;
}

main {
  font-size: 1rem;
  padding: 0 .75em;
  text-align: left;
  padding-bottom: .5em;
}

img {
  display: block;
  width: 100%;
}
