html {
  box-sizing:border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  font-family: 'Sigmar One', cursive;
  background-color: #ffe500;
}
